nav{
    background-color: antiquewhite;
}

.container{
    border: 1px solid red;
    margin-top:80px;
    margin-left: ;
}

.bold{
    font-weight: 700;
}

/* #calendar{
    border:2px solid black;
} */