@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
#logo {
    height: 40px;
}

.navbar {
    color: white;
    height: 60px;

}

.navbarDx {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.bi-search{
    cursor: pointer;
}

.container {

}

/* Jumbotron */
.jumbotron {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/home.jpg");
    background-size: cover;
    margin-top: 60px;
}

/* Barra di ricerca centrale */
.form-control {
    border: none;
    border-radius: 0;
    font-weight: 600;
    border-radius: 15px;
}

.item-reserch input{
    border: none;
}

.item-reserch:nth-child(1){
    border-radius: 20px;
}


.search-bar {
    width: 750px;
    height: 65px;
    border-radius: 80px;
    background-color: white;
}

.bi-search {
    background-color:#E41E57;
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

/* media quesies per regolare la searchbar */

@media (max-width: 750px) {
    .search-bar {
        flex-direction: column;
        padding-top: 150px;
        height: 250px;
        align-items: center;
    }
    .item-reserch {
        width: 150px;
    }
    .search-bar {
        background-color: transparent;
    }
    .navCenter, .navbarDx a {
        display: none;
    }
    input, label {
        border-radius: 15px;
        margin: 5px;
    }
    
}

/* finto footer */
.trip img {
    height: 50px;
    width: 50px;
}

 .major, .junior {
    width: 100vw;
 }